body {
  font-family: Arial, sans-serif;
  background-image: url("1735693391770.jpg"); 
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  text-align: center;
}

#greeting {
  font-size: 40px;
  color: #6577B3;
  margin-bottom: 20px;
}

#header {
  font-size: 30px;
  margin-bottom: 20px;
}

#message {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
