body {
  font-family: Arial, sans-serif;
  background-image: url("1735693391770.jpg"); 
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}

.container {
  text-align: center;
  margin-top: -50px; /* Adjust this value as needed */ 
}

#header {
  font-size: 22px;
  margin-bottom: 50px;
}

#message {
  font-size: 18px;
  color: white; /* Set message color to white */
  margin-bottom: 20px;
}
